.Section
  display: flex
  height: 100vh
  flex-direction: column
  justify-content: center

  @media(max-width: 1000px)
    height: 100%
    margin: 80px 0

.Title
  margin-bottom: 16px

.Tagline
  margin-bottom: 48px

.About
  display: flex
  min-height: 100vh
  justify-content: center

  .About-Sub
    width: 100%

  .About-Img
    width: 100%
    margin: auto 48px

    @media(max-width: 1100px)
      margin: 0

  @media(max-width: 1100px)
    flex-direction: column-reverse
